body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav button {
    margin: 0 10px;
    padding: 10px 20px;
    background: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav button a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h1, h2 {
    margin: 10px 0;
}

form {
    max-width: 400px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    margin-top: 10px;
    display: block;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    margin-top: 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

footer {
    text-align: center;
    padding: 20px;
    background: #007bff;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
